<!DOCTYPE html>
<html>
<head>
	<title>Partner Forms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
    	@import url(https://fonts.googleapis.com/css?family=Roboto:300);
    	body {
  			background-color: #FBB03b;
  			/*background-image: linear-gradient(45deg,#F0F8FF,#FFF0F5);*/
    	}
    	.material-icons {
    		color:#FF8C00;
    	}
    	#form_body{
    		background-color:white;
    		width:800px;
    		margin-top:100px;
    		border-radius:5%;
    	}
    	#btn-prop{
    		margin-left:30px;
    	}
    	#btn-prop:hover{
    		color:#FBB03b;
    		background-color:white;
    	}
        .row{
    		margin:2px;
    		padding:1px;
    	}
    </style>
</head>
<body>
<div class="container" id="form_body">
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3><center>Register</center></h3>
            <p><center>Please enter your credentials to register</center></p>
          </div>
        </div>
  <div class="row">
    <form class="col s12" method="POST" action="">
        {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" name="name" class="validate" required>
          <label for="icon_prefix"> Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel"name="phone_number" class="validate" required>
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
	 <div class="row">
	 	<div class="input-field col s2">
	 		<p>Gender : </p>
	 	</div>
          <div class="input-field col s2">
         <p>
      <label>
        <input  type="radio" value="male" name="gender" >
        <span>Male</span>
      </label>
    	</p>
         </div>
         <div class="input-field col s2">
         <p>
      <label>
        <input  type="radio" value="female" name="gender">
        <span>Female</span>
      </label>
    	</p>
         </div>
         <div class="input-field col s2">
         <p>
      <label>
        <input  type="radio"  value="prefer not to say" name="gender" >
        <span>Prefer not to say</span>
      </label>
    	</p>
         </div>

 	</div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_email" type="email" name="email" class="validate" required>
          <label for="icon_email"> E-Mail Id</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">address</i>
          <textarea id="textarea1" name="adress_line1" class="materialize-textarea"></textarea>
          <label for="textarea1">Address</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">home</i>
          <input id="icon_designation" type="text"name="state" class="validate" required>
          <label for="icon_designation"> State </label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">home</i>
          <input id="icon_website" type="text" name="city" class="validate" required>
          <label for="icon_website">City</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
 			<p> Do you have ?</p>
      
         <p>
      <label>
        <input type="radio" value="Digital Shop (like CSC Center, Cyber Cafe, Mobile shop etc.)" name="Do_you_have" >
        <span>Digital Shop (like CSC Center, Cyber Cafe, Mobile shop etc.)</span>
      </label>
    	</p>
         <p>
      <label>
        <input  type="radio",value="Other Shop (like grocery store etc.)" name="Do_you_have" >
        <span> Other Shop (like grocery store etc.)</span>
      </label>
    	</p>
         <p>
      <label>
        <input  type="radio" value="Individual with No Shop" name="Do_you_have">
        <span> Individual with No Shop</span>
      </label>
    	</p>
    </div>
         </div>

  </div>
	  <div class="row" >
	  	<div class="input-field col s12" >
         <p>
         	<i class="material-icons prefix">arrow_forward</i>
      		<label>
        		<input id="indeterminate-checkbox" name="conditions" type="checkbox" />
        			<span>Accept terms & conditions</span>
      		</label>
    	</p>
    </div>
	  </div>
	  <div class="row">
	  <div class="input-field col s12">
      <button class="btn waves-effect waves-light" id="btn-prop" type="submit" name="action">Submit
   		<i class="material-icons right">send</i>
  	  </button>
  	</div>
  	</div>
</form>
</div>
</div>
</div>
</div>


</body>
</html>